[submodule "youtube/public"]
	path = youtube/public
	url = https://github.com/debsahu/debsahu.github.io.git
	branch = main

[submodule "youtube/themes/PaperMod"]
	path = youtube/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
	branch = master

[submodule "youtube/linktree"]
	path = youtube/linktree
	url = https://github.com/debsahu/debsahu-workers-social.git
	branch = main